<!DOCTYPE html>

<html>
<head>
  <meta name="generator" content="HTML Tidy for Linux (vers 25 March 2009), see www.w3.org">
  <meta charset="utf-8">

  <title>Coffee Printer</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="/plugin_assets/coffee/css/semantic.css" type="text/css">
  <link rel="stylesheet" href="/plugin_assets/coffee/css/codemirror.css" type="text/css">
  <link rel="stylesheet" href="/plugin_assets/coffee/css/styles.css" type="text/css">
</head>

<body>
  <div id="header" class="ui fixed menu inverted navbar">
    <a class="brand item" href="#">Turing Coffee</a>
  </div>

  <div id="wrapper" class="ui grid">
  </div><!-- script references -->
  <script src="/plugin_assets/coffee/js/jquery.js" type="text/javascript"></script>
  <script src="/plugin_assets/coffee/js/semantic.js" type="text/javascript"></script>
  <script src="/plugin_assets/coffee/js/mithril.min.js" type="text/javascript"></script>
  <script src="/plugin_assets/coffee/js/codemirror.js" type="text/javascript"></script>
  <script src="/plugin_assets/coffee/js/coffee.js" type="text/javascript"></script>
</body>
</html>
