* {
    margin:0;
    padding:0;
}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px;

    //For navbar-fixed-top
    padding-top: 70px;

    div.ui.grid {
        height: 100%;
    }

    div.coffee_sidebar {
        height: 100%;
        overflow: auto;
    }

    div.cookbook_list {
        height: 100%;
        overflow: auto;
    }

    div.cookbook_content {
        height: 100%;
        overflow: auto;
    }

    .CodeMirror {
        height: 100%;
    }

    div.editor {
        height: 100%;
        overflow: auto;
    }

    div.setting.sidebar.menu {
        top: 35px;
    }

}
