.card {
    padding: 20px;
    margin: 10px 0px 10px 0px;
    min-height: 300px;
    text-decoration: none;

    border: none;

    text-align: center;
    word-break: break-all;

    .header {
        font-size: 1.875em;
        font-weight: bold;
    }

    .divider {
        width: 40%;
        height: 1px;
        margin: 1em auto;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .divider::before {
        color: rgba(123, 123, 123, 0.3);
        content: '';
        width: 100%;
    }

    .description {
        font-size: 1em;
    }

    .buttons {
        display: flex;
        margin: 1em auto;
        justify-content:space-between;
        z-index: 1001;

        .button {
            width: 100px;
            height: 100px;
            line-height: 100px;
            z-index: 1002;

            border: 1px solid;
            border-radius: 50%;

            color: white;
            font-size: 2em;
        }

        .button-edit {
            background-color: #e53935;
        }

        .button-brew {
            background-color: #00acc1;
        }
    }
}

.card::before {
    position: absolute;
    content: '';
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: 1px solid rgba(123, 123, 123, 0.3);
    transition: opacity 0.3s;
}

.card:hover::before,
.card:focus::before {
    border: 3px solid rgba(129,196,131,0.5);
}

.card-container {
    padding: 0px 20px 0px 20px;
}
