* {
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 60px; }
  body div.ui.grid {
    height: 100%; }
  body div.coffee_sidebar {
    height: 100%;
    overflow: auto; }
  body div.cookbook_list {
    height: 100%;
    overflow: auto; }
  body div.cookbook_content {
    height: 100%;
    overflow: auto; }
